[buildout]
extends = buildout.cfg
eggs +=
  plone.restapi
  quito.core

develop = src/quito.core
user=admin:admin

[versions]
# Required by:
# plone.other.addon = 24.13
#plone.api = 1.5.1

[instance_base]
resources = ${buildout:directory}/resources